<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteCond %{HTTP:X-Forwarded-Proto} !https
    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    AuthType     Basic
    AuthName     "Authentication Sample"
    AuthUserFile /app/documents/handouts/.htpasswd
    require valid-user

    <Files ~ "^\.ht">
      deny from all
    </Files>
</IfModule>
